* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #ffffff;
}

@font-face {
  font-family: 'RubikBurned';
  src: url('/assets/RubikBurned-Regular.ttf');
}
